.wrapper {
  margin: 40px auto;
  max-width: 1280px;
}
.heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  padding: 6px 0px;
}
.subHead {
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 1.2;
  color: white;
  padding: 6px 0px;
}
.button {
  background-color: #fff;
  color: #000;
  padding: 16px 32px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 32px;
  cursor: pointer;
}

.button:hover {
  background-color: #eaeaea;
}

@media only screen and (max-width: 640px) {
  .wrapper {
    width: 100%;
    padding: 0px 10px;
  }
  .heading {
    font-size: 2.5rem;
  }
}
