.wrapper {
  margin: 40px auto;
  width: 90%;
}
.heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  padding: 6px 0px;
}
.subHead {
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 1.2;
  color: white;
  padding: 6px 0px;
}
.button {
  background-color: #d1d5db;
  color: #000000;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

@media only screen and (max-width: 640px) {
  .wrapper {
    width: 100%;
    padding: 0px 10px;
  }
  .heading {
    font-size: 2.5rem;
  }
}
