.form {
  width: 900px;
  margin: 0 auto;
}
.heading {
  text-align: center;
  margin-top: 25px;
}
.field {
  margin: 12px 0px;
}
.field label {
  display: block;
  margin-bottom: 4px;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}
.field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #212020;
  border-radius: 10px;
  font-size: 1rem;
}
.field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #212020;
  border-radius: 10px;
}

.btn {
  margin: 0 auto;
  display: block;
  width: 100%;
}

@media only screen and (max-width: 640px) {
  .form {
    width: 100%;
  }
}
